.table{
	font-size:16px;
}
.table th{

font-size:16px;

}
.table td{
	font-size:16px;
}
.choose {
	font-size:14px;
}
.addrole{
	font-size:14px;
}
.checkBox{
	font-size: 14px

}



//角色配置页面
.roleconfig{
	margin-bottom:50px;
}

.inline div{
	display:inline-block;
}

//添加角色按钮页面
.showmodal{
	height: 35px;
	font-size: 15px;
}