.font1 {
	font-size: 0.8rem;
}

.record-content {
	// text-align: center;
	// background-color: #ececec;
}
.record-content h1 {
	margin-bottom: 25px;
	// text-align: center;
}
.record-block {
	width: 70%;
	// background-color: #e1e1e1;
	margin-left: 15%;
	display: block;
	overflow: hidden;
}
.record-block .ant-input-group-addon{
	background-color: #fff !important;
	border: none;
}
.record-block .has-error .ant-input-group-addon {
	color: #525252;
}
.record-block .has-error .ant-form-explain {
	float: right;
	margin-top: 3px;
}
.inpt.ant-input:not(:first-child), .border-none {
	border: none;
	box-shadow: none;
}
.ant-input-affix-wrapper, .border-none{
	border: none;
	border-bottom: 1px solid #e1e1e1;
	font-size: 16px;
}
.ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 88px;
}
.inpt-left-f.ant-input:not(:first-child) {
	// padding-left: 50px;
	color: #333;
	border-bottom:1px solid #ccc;
}
.inpt-left-t.ant-input:not(:first-child) {
	color: #333;
	border-bottom:1px solid #ccc;
}
.login-form-button {
	width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}

.record-block ul {
	padding: 0;
}

.optionWidth {
	width: 100%;
	text-align: left;
}
.inpt .ant-input.ant-input-lg {
	border: none;
}


//随访记录；
.border-none {

}
.border-none .ant-select-selection.ant-select-selection--single {
	border: none;
}

.unit-s .ant-input-group-addon {
	background-color: #fff;
	border: none;
}
.border-n.ant-input {
	border: none; 
	//border-bottom: 1px solid #e1e1e1;
	box-shadow:  none;
	border-radius: none;
}
.border-n .ant-input-lg{
	border:none;
	border-bottom:none;
}
//体检室模块
.input-style{
	margin-top:20px;
	margin-bottom: 20px;
}
.fontSize{
	font-size:0.8rem;
}
.mar-b{
	float:right;
	//padding-left:50px;
}
.clear{
	clear:both;
}
.inline{
	display:inline-block;
}
.mar-l{
	//margin-left:20px;
}
