
.meanSearchs {
	width: 50%;
	margin: 0 auto;
	display: flex;
	margin-left: 22%;
}

.searchInput {
	border-bottom: 0;
	border: 0;
	border: 1px solid #ddd;
	flex: 1;
}

.look {
	width: 80px;
	margin-left: 20px;
}



/*------------健康查询样式--------------*/
.hsSearch {
	border:0;
}

.hsTable {
	width: 70%;
	margin: 0 auto;
}