.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}

/*----------------------------------------------*/

.pjContent {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.pjContent b{
	font-size: 16px;
}

.pjContent .pjStar span, .pjContent .pjStar i {
	font-size: 1rem;
}

.pjArea {
	margin:20px 0 15px 0;
	height:300px;
	text-indent: 20px;
	width: 100%;
}

.pjPeople {
	
	font-weight: normal;
	float: right;
}

.pjContent .pjPost {
	
	width: 100%;
}