html,body {
  height: 100%;
}

.apps {
  position: absolute;
  height: 100%;
  width: 100%;
}
.apps .ant-layout-sider {
  position: fixed;
}
.apps .ant-layout {
  position: relative;
  left: 270px;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.logo {
  height: 65px;
  background: #333;
  border-radius: 6px;
  position: relative;
}

.logo img {
  width: 30px; height: 30px;
  position: absolute;
  top: 15.5px;
  left: 15px;
}

.logo span {
  color: #fff;
  display: inline-block;
  line-height: 65px;
  font-size: 16px;
  margin-left: 24%;
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

.menu-font .ant-menu-submenu-title{
  font-size: 16px;
}
.menu-font  .ant-menu-item {
  font-size: 16px;
}
.out-login-button {
  float: right;
  margin-right: 20px;
}
.out-login-button:hover {
  cursor: pointer;
}

.aside-bar li{
  width: 100%;
  text-align: left;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  overflow: hidden;
}